/* Less web_template */
/* +--------------------------------------------------------------------------
// | Author: Merrier <953075999@qq.com> <http://> <Date:2016/9/21 22:27>
// +--------------------------------------------------------------------------*/
/* less PC_library */
/* +--------------------------------------------------------------------------
// | Author: Merrier <953075999@qq.com> <http://> <Date:2016/5/11 22:27>
// +--------------------------------------------------------------------------*/
@font-face {
  font-family: 'SourceHanSansCN-Medium';
  src: url('../fonts/SourceHanSansCN/SourceHanSansCN-Medium.otf'), url('../fonts/SourceHanSansCN/SourceHanSansCN-Medium.TTF');
}
@font-face {
  font-family: 'SourceHanSansCN-Normal';
  src: url('../fonts/SourceHanSansCN/SourceHanSansCN-Normal.otf');
}
.font_yahei {
  font-family: 'Microsoft Yahei', '微软雅黑';
}
.font_arial {
  font-family: 'Arial';
}
.font_sitka {
  font-family: 'Sitka';
}
.font_hei {
  font-family: '黑体';
}
.center_block {
  margin-left: auto;
  margin-right: auto;
}
.content_box {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.caret {
  border-top-width: 8px;
  border-right-width: 8px;
  border-left-width: 8px;
}
.btn_new_green {
  display: inline-block;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #ffffff;
  background-color: #2bd948;
  box-shadow: 3px 3px 10px #99eda7, -3px 3px 10px #99eda7;
}
.btn_new_green:link {
  color: #ffffff;
  text-decoration: none;
}
.btn_new_green:hover {
  color: #ffffff;
  box-shadow: 5px 5px 10px #99eda7, -5px 5px 10px #99eda7;
}
.btn_new_blue {
  display: inline-block;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #ffffff;
  background-color: #00b6f6;
  box-shadow: 3px 3px 10px #9ed0e3, -3px 3px 10px #9ed0e3;
}
.btn_new_blue:link {
  color: #ffffff;
  text-decoration: none;
}
.btn_new_blue:hover {
  color: #ffffff;
  box-shadow: 5px 5px 10px #9ed0e3, -5px 5px 10px #9ed0e3;
}
.btn_new_orange {
  display: inline-block;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff7800;
  box-shadow: 3px 3px 10px #ffb97b, -3px 3px 10px #ffb97b;
}
.btn_new_orange:link {
  color: #ffffff;
  text-decoration: none;
}
.btn_new_orange:hover {
  color: #ffffff;
  box-shadow: 5px 5px 10px #ffb97b, -5px 5px 10px #ffb97b;
}
.btn_new_red {
  display: inline-block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff3d5a;
  box-shadow: 3px 3px 10px #ffcad2, -3px 3px 10px #ffcad2;
}
.btn_new_red:link {
  color: #ffffff;
  text-decoration: none;
}
.btn_new_red:hover {
  color: #ffffff;
  box-shadow: 5px 5px 10px #ffcad2, -5px 5px 10px #ffcad2;
}
.btn_modal_close {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  right: 10px;
  top: 5px;
  font-size: 40px;
  color: #00b6f6;
  cursor: pointer;
}
.btn_modal_close:hover {
  transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -o-transform-origin: center center;
  -moz-transform-origin: center center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn_new_disable {
  background-color: #eff4f7;
  color: #8cabbd;
  cursor: not-allowed;
}
.btn_new_disable:link {
  color: #8cabbd;
}
.btn_new_disable:hover {
  color: #8cabbd;
}
html body {
  /*模态框开始*/
}
html body .wrp .content > div {
  min-height: 100vh;
}
html body .modal-dialog {
  width: 500px;
  margin-top: 150px;
  color: #1c1c1c;
}
html body .modal-dialog .modal-header .modal-title {
  font-weight: bold;
  font-size: 18px;
}
html body .modal-dialog .modal-body label {
  font-weight: normal;
}
html body .modal-dialog .modal-body .checkbox label {
  display: block;
  margin-bottom: 5px;
  min-width: 80px;
}
html body .modal-dialog .modal-body .checkbox label input {
  width: 14px;
  height: 14px;
}
html body {
  background-image: url("../images/register_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body .wrp .content .register,
html body .wrp .content .trial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
html body .wrp .content .register .logo,
html body .wrp .content .trial .logo {
  width: 450px;
  padding: 120px;
  flex-shrink: 0;
}
html body .wrp .content .register .reg_right_form,
html body .wrp .content .trial .reg_right_form {
  width: 450px;
  flex-shrink: 0;
}
html body .wrp .content .register .reg_right_form .reg_form_item,
html body .wrp .content .trial .reg_right_form .reg_form_item {
  position: relative;
  height: 50px;
  margin-bottom: 45px;
  line-height: 50px;
}
html body .wrp .content .register .reg_right_form .reg_form_item img,
html body .wrp .content .trial .reg_right_form .reg_form_item img {
  position: absolute;
  width: 23px;
  left: 20px;
  top: 15px;
}
html body .wrp .content .register .reg_right_form .reg_form_item input,
html body .wrp .content .trial .reg_right_form .reg_form_item input {
  width: 100%;
  height: 100%;
  padding: 0 60px;
  text-align: center;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 14px;
  color: #b8b8b8;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
html body .wrp .content .register .reg_right_form .reg_form_item .form_tips,
html body .wrp .content .trial .reg_right_form .reg_form_item .form_tips {
  display: none;
  position: absolute;
  top: 45px;
  color: #ff3d5a;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html body .wrp .content .register .reg_right_form .reg_form_item .form_tips .fa,
html body .wrp .content .trial .reg_right_form .reg_form_item .form_tips .fa {
  margin-right: 11px;
  font-size: 14px;
}
html body .wrp .content .register .reg_right_form .reg_form_code input,
html body .wrp .content .trial .reg_right_form .reg_form_code input {
  display: inline-block;
  width: 68%;
}
html body .wrp .content .register .reg_right_form .reg_form_code .btn_get_code,
html body .wrp .content .trial .reg_right_form .reg_form_code .btn_get_code {
  float: right;
  width: 29%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  color: #ff3d5a;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
}
html body .wrp .content .register .reg_right_form .reg_form_code .btn_new_disabled,
html body .wrp .content .trial .reg_right_form .reg_form_code .btn_new_disabled {
  cursor: not-allowed;
  opacity: .65;
}
html body .wrp .content .register .reg_right_form .reg_agreement,
html body .wrp .content .trial .reg_right_form .reg_agreement {
  margin-bottom: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
html body .wrp .content .register .reg_right_form .reg_agreement .btn_service_agreement,
html body .wrp .content .trial .reg_right_form .reg_agreement .btn_service_agreement,
html body .wrp .content .register .reg_right_form .reg_agreement .btn_secret_agreement,
html body .wrp .content .trial .reg_right_form .reg_agreement .btn_secret_agreement {
  color: #ff3d5a;
  text-decoration: underline;
  cursor: pointer;
}
html body .wrp .content .register .reg_right_form .btn_register,
html body .wrp .content .trial .reg_right_form .btn_register,
html body .wrp .content .register .reg_right_form .btn_trial,
html body .wrp .content .trial .reg_right_form .btn_trial {
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
html body .modal_service_agreement .modal-dialog,
html body .modal_secret_agreement .modal-dialog {
  width: 900px;
}
html body .modal_service_agreement .modal-dialog .modal-header,
html body .modal_secret_agreement .modal-dialog .modal-header {
  padding: 20px;
}
html body .modal_service_agreement .modal-dialog .modal-header .modal-title,
html body .modal_secret_agreement .modal-dialog .modal-header .modal-title {
  font-weight: normal;
  color: #1a0609;
  text-align: center;
}
html body .modal_service_agreement .modal-dialog .modal-header .close,
html body .modal_secret_agreement .modal-dialog .modal-header .close {
  color: #ff7074;
  font-size: 34px;
  line-height: 27px;
}
html body .modal_service_agreement .modal-dialog .modal-body,
html body .modal_secret_agreement .modal-dialog .modal-body {
  padding: 0 120px;
  max-height: 350px;
  overflow-y: auto;
  word-wrap: break-word;
  word-break: break-all;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #1a0609;
  line-height: 30px;
}
html body .modal_service_agreement .modal-dialog .modal-footer,
html body .modal_secret_agreement .modal-dialog .modal-footer {
  border: 0;
  padding: 20px;
}
html body .first_des_mask {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-family: "SourceHanSansCN-Normal";
  color: #ffffff;
  background-color: #464648;
}
html body .first_des_mask .first_des_title {
  text-align: center;
  font-size: 24px;
}
html body .first_des_mask .first_des_main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1550px;
}
html body .first_des_mask .first_des_main .first_main_item {
  width: 28%;
}
html body .first_des_mask .first_des_main .first_main_item img {
  width: 100%;
  margin-bottom: 30px;
}
html body .first_des_mask .first_des_main .first_main_item h4 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #fefeff;
}
html body .first_des_mask .first_des_main .first_main_item p {
  font-size: 14px;
  color: #bbb;
}
html body .first_des_mask .btn_go_trip {
  padding: 15px 85px;
  text-indent: 2px;
  letter-spacing: 2px;
  font-size: 18px;
  color: #ffffff;
  font-family: SourceHanSansCN-Medium;
  cursor: pointer;
  text-shadow: 0 0 10px #555;
  background-color: #9fbfe7;
  border-radius: 30px;
}
