/* less Mobile_index */
/* +--------------------------------------------------------------------------
// | Author: Merrier <953075999@qq.com> <http://> <Date:2016/5/25 16:05>
// +--------------------------------------------------------------------------*/
/* less PC_library */
/* +--------------------------------------------------------------------------
// | Author: Merrier <953075999@qq.com> <http://> <Date:2016/5/11 22:27>
// +--------------------------------------------------------------------------*/
.font_yahei {
  font-family: 'Microsoft Yahei', '微软雅黑';
}
.font_arial {
  font-family: arial, sans-serif;
}
.font_sitka {
  font-family: 'Sitka';
}
.font_hei {
  font-family: '黑体';
}
.center_block {
  margin-left: auto;
  margin-right: auto;
}
.content_box {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.caret {
  border-top-width: 8px;
  border-right-width: 8px;
  border-left-width: 8px;
}
.btn_shadow_gray {
  color: #333;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 2px;
}
.btn_shadow_orange {
  color: #333;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe9a6), color-stop(100%, #ffc107));
  background-image: -webkit-linear-gradient(top #ffe9a6, #ffc107);
  background-image: -moz-linear-gradient(top, #ffe9a6, #ffc107);
  background-image: -ms-linear-gradient(top, #ffe9a6, #ffc107);
  background-image: -o-linear-gradient(top, #ffe9a6, #ffc107);
  background-image: linear-gradient(top #ffe9a6, #ffc107);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 2px;
}
* {
  text-shadow: none;
}
/*消除jquery.mobile的text-shadow影响*/
* {
  box-sizing: border-box;
}
html body {
  text-shadow: none;
  /*提示信息开始*/
  /*统计数字提示信息开始*/
  /*标签提示信息*/
  /*黑色背景按钮*/
  /*自动完成删除按钮*/
}
html body .error_tips {
  color: #ff0000;
  font-size: 0.5rem;
  margin-bottom: 5px;
  text-align: left;
}
html body .input_num_box {
  position: absolute;
  color: #1c1c1c;
}
html body .label_tips {
  font-size: inherit;
  color: #dcdcdc;
}
html body .btn-black {
  background-color: #1c1c1c;
  color: #ffffff;
}
html body .btn-black:hover {
  background-color: #000;
  color: #eee;
}
html body .btn-black:focus {
  background-color: #000;
  color: #eee;
}
html body .singleauto_choose_delete {
  margin-left: 5px;
  cursor: pointer;
}
html body {
  font-family: hiragino sans gb,microsoft yahei,simsun;
  -webkit-text-size-adjust: none;
  background-color: #ffffff;
}
html body .ui-page {
  background-color: #ffffff;
}
html body .page {
  color: #333333;
  font-size: 0.75rem;
  font-family: arial, sans-serif;
}
html body .page .ui-input-text {
  font-size: 0.6rem;
  border: none;
}
html body .page .ui-input-text input {
  padding: .5rem;
  border: 1px double #9f9f9f;
  border-top-color: #cccccc;
}
html body .page .footer {
  border: none;
}
html body .page .footer .always_meezao_logo {
  position: fixed;
  bottom: 0.3rem;
  width: 100%;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 0.6rem;
  color: #7f7f7f;
}
