/* less PC_index */
/* +--------------------------------------------------------------------------
// | Author: Merrier <953075999@qq.com> <http://> <Date:2016/5/25 16:05>
// +--------------------------------------------------------------------------*/
/* less PC_library */
/* +--------------------------------------------------------------------------
// | Author: Merrier <953075999@qq.com> <http://> <Date:2016/5/11 22:27>
// +--------------------------------------------------------------------------*/
@font-face {
  font-family: 'SourceHanSansCN-Medium';
  src: url('../fonts/SourceHanSansCN/SourceHanSansCN-Medium.otf'), url('../fonts/SourceHanSansCN/SourceHanSansCN-Medium.TTF');
}
@font-face {
  font-family: 'SourceHanSansCN-Normal';
  src: url('../fonts/SourceHanSansCN/SourceHanSansCN-Normal.otf');
}
.font_yahei {
  font-family: 'Microsoft Yahei', '微软雅黑';
}
.font_arial {
  font-family: 'Arial';
}
.font_sitka {
  font-family: 'Sitka';
}
.font_hei {
  font-family: '黑体';
}
.center_block {
  margin-left: auto;
  margin-right: auto;
}
.content_box {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.caret {
  border-top-width: 8px;
  border-right-width: 8px;
  border-left-width: 8px;
}
.btn_new_green {
  display: inline-block;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #ffffff;
  background-color: #2bd948;
  box-shadow: 3px 3px 10px #99eda7, -3px 3px 10px #99eda7;
}
.btn_new_green:link {
  color: #ffffff;
  text-decoration: none;
}
.btn_new_green:hover {
  color: #ffffff;
  box-shadow: 5px 5px 10px #99eda7, -5px 5px 10px #99eda7;
}
.btn_new_blue {
  display: inline-block;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #ffffff;
  background-color: #00b6f6;
  box-shadow: 3px 3px 10px #9ed0e3, -3px 3px 10px #9ed0e3;
}
.btn_new_blue:link {
  color: #ffffff;
  text-decoration: none;
}
.btn_new_blue:hover {
  color: #ffffff;
  box-shadow: 5px 5px 10px #9ed0e3, -5px 5px 10px #9ed0e3;
}
.btn_new_orange {
  display: inline-block;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff7800;
  box-shadow: 3px 3px 10px #ffb97b, -3px 3px 10px #ffb97b;
}
.btn_new_orange:link {
  color: #ffffff;
  text-decoration: none;
}
.btn_new_orange:hover {
  color: #ffffff;
  box-shadow: 5px 5px 10px #ffb97b, -5px 5px 10px #ffb97b;
}
.btn_new_red {
  display: inline-block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff3d5a;
  box-shadow: 3px 3px 10px #ffcad2, -3px 3px 10px #ffcad2;
}
.btn_new_red:link {
  color: #ffffff;
  text-decoration: none;
}
.btn_new_red:hover {
  color: #ffffff;
  box-shadow: 5px 5px 10px #ffcad2, -5px 5px 10px #ffcad2;
}
.btn_modal_close {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 35px;
  right: 10px;
  top: 5px;
  font-size: 40px;
  color: #00b6f6;
  cursor: pointer;
}
.btn_modal_close:hover {
  transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -o-transform-origin: center center;
  -moz-transform-origin: center center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn_new_disable {
  background-color: #eff4f7;
  color: #8cabbd;
  cursor: not-allowed;
}
.btn_new_disable:link {
  color: #8cabbd;
}
.btn_new_disable:hover {
  color: #8cabbd;
}
html body {
  /*模态框开始*/
  /*警告框开始*/
  /*提示信息开始*/
  /*统计数字提示信息开始*/
  /*标签提示信息*/
  /*黑色背景按钮*/
  /*自动完成删除按钮*/
}
html body .navbar-default {
  width: 100%;
  height: 50px;
  font-size: 16px;
  margin-bottom: 0;
  padding-right: 15px;
}
html body .navbar-default .navbar_subtips {
  float: left;
  margin-left: 15px;
  line-height: 50px;
  font-size: 15px;
  color: #666;
}
html body .navbar-default .dropdown_filled {
  margin-top: 8px;
}
html body .navbar-default .dropdown-menu {
  padding: 0;
  min-width: 100%;
}
html body .navbar-default .dropdown-menu li {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
html body .navbar-default .dropdown-menu li :hover {
  background-color: #0096ff;
}
html body .navbar-default .dropdown-menu li a {
  padding: 0;
  line-height: 30px;
}
html body .navbar-default .navbar-brand {
  font-family: 'Arial';
  font-weight: bold;
}
html body .navbar-default .navbar-nav a {
  height: 49px;
}
html body .navbar-default .btn-primary {
  float: right;
  height: 32px;
  min-width: 70px;
  padding: 0 10px;
  margin-top: 9px;
  line-height: 32px;
  text-indent: 0;
  letter-spacing: 0;
}
html body .navbar-default .navbar-form {
  margin-right: 0;
  padding-right: 0;
}
html body .navbar-default .navbar-form .input-group-btn .dropdown .btn-dropdown {
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
html body .navbar-default .navbar-form .input-group-btn .dropdown .dropdown-toggle {
  border-right: 0;
  border-radius: 0;
  padding-left: 2px;
  padding-right: 2px;
}
html body .navbar-default .navbar-form .input-group-btn .dropdown .dropdown-menu {
  min-width: 100%;
  padding: 0;
}
html body .navbar-default .navbar-form .input-group-btn .dropdown .dropdown-menu li {
  height: 34px;
  line-height: 34px;
  text-align: center;
}
html body .navbar-default .navbar-form .input-group-btn .dropdown .dropdown-menu li :hover {
  background-color: #0096ff;
}
html body .navbar-default .navbar-form .input-group-btn .dropdown .dropdown-menu li a {
  padding: 0;
  line-height: 34px;
}
html body .navbar-default .navbar-form .form-control {
  width: 252px;
  height: 34px;
}
html body .navbar-default .navbar-form .btn-search {
  width: 70px;
  height: 34px;
}
html body .common_table {
  margin-top: 10px;
  min-height: 300px;
  text-align: center;
}
html body .common_table thead {
  height: 49px;
  font-size: 16px;
  font-weight: bold;
}
html body .common_table thead th {
  font-weight: bold;
  text-align: center;
  line-height: 49px;
  margin: 0;
  padding: 0;
  border-bottom: none;
}
html body .common_table thead th .btn-default {
  width: 100%;
  height: 51px;
  border: none;
  padding: 0;
  font-weight: bold;
}
html body .common_table thead th .btn-default span {
  font-size: 16px;
}
html body .common_table thead th .btn-dropdown .caret {
  margin-left: 4px;
  border-top-width: 8px;
  border-right-width: 8px;
  border-left-width: 8px;
}
html body .common_table thead th .dropdown-menu {
  min-width: 100%;
  top: 100%;
  padding: 0;
}
html body .common_table thead th .dropdown-menu a {
  width: 100%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  text-align: center;
}
html body .common_table thead th .dropdown-menu a:hover {
  background-color: #0096ff;
}
html body .common_table tbody {
  font-size: 12px;
}
html body .common_table tbody tr {
  height: 49px;
}
html body .common_table tbody tr td {
  vertical-align: middle;
}
html body .common_table tbody tr td .btn-group .btn {
  text-indent: 0;
  letter-spacing: 0;
  font-size: 12px;
}
html body .common_table tbody tr td .btn_single {
  width: 80%;
}
html body .dropdown-menu {
  min-width: 100%;
  padding: 0;
}
html body .dropdown-menu li {
  height: 34px;
  line-height: 34px;
  text-align: center;
}
html body .dropdown-menu li :hover {
  background-color: #0096ff;
}
html body .dropdown-menu li a {
  padding: 0;
  line-height: 34px;
}
html body .mb_subject_box {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cccccc;
}
html body .content_modal {
  color: #1c1c1c;
}
html body .modal-dialog {
  width: 500px;
  margin-top: 150px;
  color: #1c1c1c;
}
html body .modal-dialog .modal-header .modal-title {
  font-weight: bold;
  font-size: 18px;
}
html body .modal-dialog .modal-body label {
  font-weight: normal;
}
html body .modal-dialog .modal-body .checkbox label {
  display: block;
  margin-bottom: 5px;
  min-width: 80px;
}
html body .modal-dialog .modal-body .checkbox label input {
  width: 14px;
  height: 14px;
}
html body .btn-primary {
  min-width: 100px;
  background-color: #0096ff;
}
html body .modal_reg_box {
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 15px;
}
html body .modal_reg_btn {
  display: block;
  float: right;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #adadad;
  border-radius: 5px;
  color: #1c1c1c;
  background-color: #ffffff;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
html body .modal_reg_btn:hover {
  color: #1c1c1c;
}
html body .modal_reg_btn:focus {
  color: #1c1c1c;
}
html body .modal_tips {
  display: none;
  font-size: 12px;
  color: #ff0000;
  line-height: 20px;
}
html body .reg_btn_mask {
  display: none;
  position: absolute;
  width: 103px;
  height: 33px;
  right: -1px;
  bottom: -3px;
}
html body .reg_btn_gray {
  background-color: #afafaf;
  color: #EEE;
}
html body .modal_code_random {
  display: none;
}
html body .alert {
  position: absolute;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}
html body .alert-example {
  display: none;
}
html body .error_tips {
  color: #ff0000;
  font-size: 12px;
  margin-bottom: 5px;
  text-align: left;
}
html body .input_num_box {
  position: absolute;
  color: #1c1c1c;
}
html body .label_tips {
  font-size: inherit;
  color: #dcdcdc;
}
html body .btn-black {
  background-color: #1c1c1c;
  color: #ffffff;
}
html body .btn-black:hover {
  background-color: #000;
  color: #eee;
}
html body .btn-black:focus {
  background-color: #000;
  color: #eee;
}
html body .singleauto_choose_delete {
  margin-left: 5px;
  cursor: pointer;
}
@media (min-width: 768px) {
  html body .content_mb_subject .navbar-default .navbar-form {
    margin-right: 0;
  }
}
html body {
  font-size: 16px;
  font-family: hiragino sans gb,microsoft yahei,simsun;
  -webkit-text-size-adjust: none;
  /*标题栏开始*/
}
html body .system_information {
  display: none;
  position: fixed;
  bottom: 35px;
  right: 5px;
  width: 350px;
  height: 300px;
  color: #1c1c1c;
  background-color: #ffffff;
  box-shadow: 0 0 10px #aaaaaa;
}
html body .system_information .system_information_header {
  width: 100%;
  padding: 20px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid #cccccc;
}
html body .system_information .system_information_header h3 {
  float: left;
  font-weight: bold;
}
html body .system_information .system_information_header i {
  float: right;
  cursor: pointer;
}
html body .system_information .system_information_header .btn_view_more {
  float: left;
  margin-top: -4px;
  margin-left: 10px;
  padding: 3px 12px;
  font-size: 12px;
}
html body .system_information .system_information_content {
  width: 100%;
  height: 250px;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
}
html body .system_information .system_information_content ul {
  width: 100%;
}
html body .system_information .system_information_content ul li {
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  border-bottom: 2px dashed #cccccc;
}
html body .system_information .system_information_content ul li span {
  display: inline-block;
  vertical-align: middle;
}
html body .system_information .system_information_content ul li i {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
html body .header {
  position: fixed;
  height: 50px;
  line-height: 50px;
  margin: 0;
  width: 100%;
  min-width: 1214px;
  z-index: 1001;
  background: #404040;
  /* Old browsers */
  background: -moz-linear-gradient(top, #787878 0%, #333333 40%, #111111 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #787878 0%, #333333 40%, #111111 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #787878 0%, #333333 40%, #111111 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#111111', GradientType=0);
  /* IE6-9 */
}
html body .header h2 {
  font-family: 'sans-serif';
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 36px;
  float: left;
  height: 100%;
  line-height: 50px;
}
html body .header .toolbar {
  float: right;
  height: 50px;
}
html body .header .toolbar .toolbar_information_center {
  height: 49px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-left: 1px solid #4e4e4e;
  border-right: 1px solid #4e4e4e;
}
html body .header .toolbar .toolbar_information_center:hover {
  color: #0096ff;
}
html body .header .toolbar .toolbar_information_center:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #00b6f6;
}
html body .header .toolbar .toolbar_information_center .information_num {
  position: absolute;
  left: 2.9em;
  top: 1em;
  color: #ff0000;
  font-size: 12px;
}
html body .header .toolbar .toolbar_item {
  position: relative;
  display: inline-block;
  color: #fff;
  min-width: 110px;
  vertical-align: top;
}
html body .header .toolbar .toolbar_item .toolbar_person_information {
  display: block;
  color: #fff;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
html body .header .toolbar .toolbar_item .toolbar_person_information:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0096ff;
}
html body .header .toolbar .toolbar_item .toolbar_person_information i {
  font-size: 12px;
}
html body .header .toolbar .toolbar_item .toolbar_drop_menu {
  display: none;
  position: absolute;
  color: #8e8b8b;
  text-align: center;
  border: 1px solid #c3c3c3;
  border-bottom: 0;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 998;
}
html body .header .toolbar .toolbar_item .toolbar_drop_menu li {
  display: block;
  color: #1c1c1c;
  padding: 0 10px;
  line-height: 44px;
  background: #fff;
  border-bottom: 1px solid #c3c3c3;
  cursor: pointer;
}
html body .header .toolbar .toolbar_item .toolbar_drop_menu li:hover {
  color: #ffffff;
  background-color: #0096ff;
}
html body .wrp {
  padding-bottom: 30px;
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  clear: both;
  z-index: 10;
  /*导航栏开始*/
  /*主体内容*/
}
html body .wrp .nav_bar {
  position: fixed;
  width: 220px;
  background-color: #1c1c1c;
  font-size: 14px;
  letter-spacing: 2px;
  overflow-y: auto;
  z-index: 2;
}
html body .wrp .nav_bar .nav_bar_current1 {
  background-color: #0096ff !important;
}
html body .wrp .nav_bar .nav_bar_current1:hover {
  color: #ffffff !important;
}
html body .wrp .nav_bar .nav_bar_level1 li a {
  display: block;
  font-family: 'Microsoft Yahei', '微软雅黑';
  color: #f5f5f5;
  background-color: #1c1c1c;
  text-decoration: none;
  padding-left: 36px;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #5d5d5d;
  position: relative;
}
html body .wrp .nav_bar .nav_bar_level1 li a:hover {
  color: #0096ff;
}
html body .wrp .nav_bar .nav_bar_level1 li a span {
  display: inline-block;
}
html body .wrp .nav_bar .nav_bar_level1 li .nav_bar_current2 {
  color: #00b6f6 !important;
}
html body .wrp .nav_bar .nav_bar_level1 li .nav_bar_level2 {
  display: none;
}
html body .wrp .nav_bar .nav_bar_level1 li .nav_bar_level2 li a {
  padding-left: 50px;
  font-size: 14px;
  background: #262626;
}
html body .wrp .nav_bar .nav_bar_level1 li .nav_bar_level2 li .nav_bar_level3 {
  display: none;
}
html body .wrp .nav_bar .nav_bar_level1 li .nav_bar_level2 li .nav_bar_level3 li a {
  padding-left: 50px;
  font-size: 14px;
  background-color: #444;
}
html body .wrp .nav_bar .nav_bar_level1 li .nav_bar_level2 li .nav_bar_level3 li a i {
  font-size: 12px;
  margin-right: 5px;
}
html body .wrp .content {
  font-family: 'Microsoft Yahei', '微软雅黑';
  height: 100%;
  float: right;
}
html body .wrp .content .content_main .content_route {
  font-size: 12px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  color: #7f7f7f;
  padding-left: 37px;
}
html body .wrp .content .content_main .content_route a {
  color: #7f7f7f;
}
html body .wrp .content .content_main .content_mb {
  background: #fff;
  margin: 0 27px;
  min-width: 960px;
  color: #000;
}
html body .wrp .content .content_main .content_mb .content_mb_title {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-indent: 10px;
  margin: 0px;
  letter-spacing: 2px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0096ff+0,008ff3+15,007ad1+44,0071c1+62,0070c0+100 */
  background: #0096ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #62beff 0%, #3faffe 44%, #0096ff 100%);
  /* FF3.6-15 */
  background: -moz-linear-gradient(top, #0096ff 0%, #008ff3 15%, #007ad1 44%, #0071c1 62%, #0070c0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #62beff 0%, #3faffe 44%, #0096ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #62beff 0%, #3faffe 30%, #0096ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0096ff', endColorstr='#0070c0', GradientType=0);
  /* IE6-9 */
}
html body .wrp .content .content_main .content_mb .content_mb_subject {
  margin: 15px 0;
}
html body .foot {
  position: fixed;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  background-color: #1c1c1c;
  width: 100%;
  clear: both;
  min-width: 1214px;
  z-index: 1001;
}
html body .foot h2 {
  font-family: Arial;
  font-size: 14px;
  color: #ffffff;
  margin-left: 36px;
  float: left;
  height: 100%;
  line-height: 30px;
}
